body, html {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

ul, li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}